.container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: "one one two" "three . two" "three four four";
    gap: 10px;

    height: 600px;
}

#one {
    background-color: aquamarine;
    grid-area: one;
}

#two {
    background-color: rgba(244, 221, 178, 100%);
    grid-area: two;
}

#three {
    background-color: rgba(250, 127, 114, 100%);
    grid-area: three;
}

#four {
    background-color: rgba(220, 160, 220, 100%);
    grid-area: four;
}
